:root {
	--primary: #0f346b;
	--secondary:#D3D3D3;
	--third:#0AAFF1;
	--light:#fffff;
	--shadow:0 1px 5px rgba(104,104,104,0.8);
}

.En{
	font-family: 'Roboto',sans-serif;
}


@media screen{
	body{
		margin:0px;
		font-family:微軟正黑體;
	}

	.aboutme {
		padding:6rem;
		background: var(--primary);
		color: #FFFFFF;
		justify-content: center;
		text-align: center;
	}

	.aboutme > div {

	}

	.email {
		text-decoration: none;
		color:var(--white);
	}

	.email:hover {
		color:#2D2D2D;
	}

	.icon {
		color:var(--light);
	}

	.icon:hover {
		color: var(--third);
	}

	.skills {
		padding: 3rem;
		background: #D3D3D3;
	}

	.title  {
		text-align: center;
		min-height: 100px;
		font-size: 2rem;
		font-weight: bold;
	}
	
	.title > span {
		padding: 10px;
		border-style: solid;
		border-width: 0px 0px 3px 0px;
	}

	.subskills {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
	}

	.subskills > div {
		width:33.3%;
	}

	.subtitle {
		padding: 10px;
		margin: 20px;
		border-style: solid;
		border-width: 0px 0px 3px 0px;
	}

	.works {
		display: flex;
		flex-direction: column;
		padding:6rem;
		background: var(--primary);
		color: #FFFFFF;
		align-items: center;
	}
	.works > h2 {
		font-size: 2rem;
		color:#FFFFFF;
		font-weight: bolder; 
		text-align: center;
	}
	.works > p {
		letter-spacing: 3px;
		font-size: 20px;
	}

	.works > ul {
		padding-inline-start:50px;
	}

	li{
		margin: 5px;
	}

	.git {
		padding: 6rem;
		background: #D3D3D3;
	}
	.gitsubsection {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns:2fr 3fr;

	}

	.textsection > a {
		text-decoration: none;
	}

	.textsection > p {
		letter-spacing: 2px;
	}

	.imgsection > img {
		width: 100%;
	}
}

@media screen and (max-width: 480px){
	.aboutme {
		padding:1rem;
	}
	.aboutme > img{
		max-width: 100px;
	}

	.subskills {
		display: grid;
		grid-template-columns: 1fr; 
	}
	.subskills > div {
		width: 100%;
	}

	.works{
		padding: 1rem;
	}
	.git {
		padding: 1rem;
	}
	.gitsubsection {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns:1fr;

	}
}

@media screen and (min-width:481px) and (max-width:768px){
	.skills {
		padding:1rem;
	}
	.subskills > div > h3 {
		min-height: 75px;
	}
	.works {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.gitsubsection {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns:1fr;

	}
}